<section class="login">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="nav flex">
    <a class="back" href="<%= root_path %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 1024 1024"><path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/><path fill="currentColor" d="m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/></svg>
    </a>
    <h2>REGISTER</h2>
    <div class="actions">
      <%= f.submit "Sign up", class: "login-button"  %>
    </div>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Full name', class: "fields"  %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "fields"  %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: "fields"  %>
  </div>

<% end %>

</section>