<section class="details">
  <div class="nav flex">
      <a class="back" href="<%= root_path %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 1024 1024"><path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/><path fill="currentColor" d="m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/></svg>
      </a>
      <h1>DETAILS</h1>
      <a class="back" href="<%= new_balance_item_path(@balance.id) %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="M7.007 12a.75.75 0 0 1 .75-.75h3.493V7.757a.75.75 0 0 1 1.5 0v3.493h3.493a.75.75 0 1 1 0 1.5H12.75v3.493a.75.75 0 0 1-1.5 0V12.75H7.757a.75.75 0 0 1-.75-.75Z"/><path fill="currentColor" fill-rule="evenodd" d="M7.317 3.769a42.502 42.502 0 0 1 9.366 0c1.827.204 3.302 1.643 3.516 3.48c.37 3.157.37 6.346 0 9.503c-.215 1.837-1.69 3.275-3.516 3.48a42.5 42.5 0 0 1-9.366 0c-1.827-.205-3.302-1.643-3.516-3.48a40.903 40.903 0 0 1 0-9.503c.214-1.837 1.69-3.276 3.516-3.48Zm9.2 1.49a41.001 41.001 0 0 0-9.034 0A2.486 2.486 0 0 0 5.29 7.424a39.402 39.402 0 0 0 0 9.154a2.486 2.486 0 0 0 2.193 2.164c2.977.332 6.057.332 9.034 0a2.486 2.486 0 0 0 2.192-2.164a39.401 39.401 0 0 0 0-9.154a2.486 2.486 0 0 0-2.192-2.163Z" clip-rule="evenodd"/></svg>
      </a>
  </div>

  <div class="balance-details flex">
    <div class="balance-info">
      <div class="balance-header">
        <img src="<%= @balance.icon %>" alt="<%= @balance.name %>" >
        <p><%= @balance.name.capitalize %></p>
      </div>
      <% total = 0 %>
      <% @balance.items.each do |item| %>
        <div class="item">
          <div class="item-info">
            <p><%= item.name %></p>
            <p>$<%= item.amount %></p>
          </div>
          <p><%= item.created_at.strftime('%d-%b-%Y') %></p>
        </div>
        <% total += item.amount %>
      <% end %>
      <div class="total">
        <p>TOTAL PAYMENT</p>
        <p>$<%= total %></p>
      </div>
    </div>
  </div>
</section>